* {
    outline: 1px solid tomato--;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 100px;
    z-index: 999999;

    color: #fff;
    margin: 0 auto;
}

.header .inner {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

.header .gnb {
    display: flex;
    gap: 90px;
}

.header .gnb>ul {
    display: flex;
    gap: 90px;
    font-size: 17px;
}

.header .gnb.on {
    color: #333;
}

.header .gnb>ul>li {
    position: relative;
    flex: 1;
    transition: 0.3s;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 80px;
    left: -40px;
    background: #fff;
    width: 160px;
    z-index: 999;
    color: #4b4b4b;
    visibility: hidden;
    height: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.header .gnb>ul>li::before {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: #ffb500;
    transition: 0.3s;
}

.header .gnb>ul>li:hover::before {
    content: '';
    width: 100%;
    background: #ffb500;
}

.header .gnb>ul>li:hover {
    color: #ffb500;
}

.header .gnb>ul>li:hover {
    color: #ffb500;
}

.header .gnb>ul>li ul li {
    padding: 15px 10px;
    line-height: 10px;
}

.header .gnb>ul>li:hover ul {
    visibility: visible;
    height: auto;
}

.header .gnb>ul>li ul li:hover {
    background: #ffb500;
    color: #fff;
}


/* navigation */
#fp-nav ul li .fp-tooltip {
    color: #fff;
}

#fp-nav ul li .fp-tooltip.on {
    color: #4b4b4b;
}

#fp-nav ul li a span {
    background: #fff;

}

#fp-nav ul li a span.on {
    background: #4b4b4b;

}

/* navigation */

/* .mainVisual { */

.mainVisual {
    position: relative;
    margin: 0 auto;
}

.mainVisual .case {
    display: flex;
    background: #005ad5;
}

.mainVisual .case>div {
    flex: 1;
    overflow: hidden;
}

.mainVisual .slide_img .v01 {
    height: 100vh;
    background: url(../img/main_img1.png) no-repeat center center / cover;
    font-size: 0;
}

.mainVisual .slide_img .v02 {
    height: 100vh;
    background: url(../img/main_img2.png) no-repeat center center / cover;
    font-size: 0;
}

.mainVisual .slide_img .v03 {
    height: 100vh;
    background: url(../img/main_img3.jpg) no-repeat center center / cover;
    font-size: 0;
}

.mainVisual .slide_txt {
    margin: auto;

}

.mainVisual .slide_txt>div {
    margin: auto 0 auto 200px;
}

.mainVisual .slide_txt div span {
    font-size: 32px;
    color: #fff;
    font-family: 'Cormorant Garamond';
    font-weight: 700;
}

.mainVisual .slide_txt div h2 {
    font-size: 80px;
    color: #ffb500;
    line-height: 1.3;
    margin-bottom: 30px;
    font-weight: 700;
    overflow: hidden;
    transition: 0.9s;
    margin-top: 20px;
    font-family: 'Noto Sans KR';
}

.mainVisual .slide_txt .txt03 h2 {
    line-height: 1;
    font-family: 'Cormorant Garamond';
    font-size: 90px;
}

.mainVisual .slide_txt div p {
    font-size: 17px;
    color: #ffb500;
    margin-bottom: 40px;
    overflow: hidden;
    transition: 0.9s;

    font-family: 'NanumSquareNeo-Variable';
}

.mainVisual .slide_txt>div.on h2 {
    padding: 0 0 0 0;
}

.mainVisual .slide_txt>div.on p {
    padding: 0 0 0 0;
}


.mainVisual .slide_txt .more {
    display: flex;
    font-size: 17px;
    color: #fff;
}

.mainVisual .slide_txt>div .more a::before {
    content: '';
    position: absolute;
    display: block;
    width: 56px;
    height: 56px;
    background: url(../img/btn-white.png) no-repeat center center /cover;
    z-index: 999;
}

.mainVisual .slide_txt>div .more a {
    transition: 0.5s;
    width: 56px;
    height: 56px;
}

.mainVisual .slide_txt>div .more:hover a {
    transform: rotate(180deg);
}

.mainVisual .slide_txt>div .more i {
    display: block;
    width: 46px;
    height: 46px;
    font-size: 30px;
    background: rgb(97, 172, 233);
    border-radius: 50%;
    transform: translate(5px, 5px);
    text-align: center;
    line-height: 46px;
}

.mainVisual .slide_txt .more p {
    color: #fff;
    margin-left: 20px;
    transform: translate(0, 20px);
}

.mainVisual .img {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.mainVisual .img.vibration {
    animation: vibration ease-in-out 1s infinite alternate;
}

@keyframes vibration {
    from {
        transform: translate(-50%, -50%) rotate(3deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-3deg);
    }
}

.mainVisual .arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    font-size: 0;
}

.mainVisual .arrows .prevArrow {
    display: block;
    background: url(../img/slide-prev.png)no-repeat center center /cover;
    width: 166px;
    height: 78px;
    opacity: 0.6;
    cursor: pointer;
}

.mainVisual .arrows .nextArrow {
    display: block;
    background: url(../img/slide-next.png)no-repeat center center /cover;
    width: 166px;
    height: 78px;
    opacity: 0.6;
    cursor: pointer;
}

.mainVisual .Navi {
    position: absolute;
    top: 53%;
    left: 93%;
    transform: translate(0, -50%);
}

.mainVisual .Navi>div {
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

.mainVisual .Navi>div img {
    display: block;
    width: 61px;
    height: 61px;
    padding: 13px;
    background: #004bba;
    border-radius: 100%;
    -webkit-box-shadow: 10px 0px 7px 0px rgb(0 0 0 / 8%);
    margin-bottom: 10px;
}

.mainVisual .Navi>div img:hover {
    background: #ffb500;
}

/* } .mainVisual */

/* mainMenu { */

.mainMenu {
    position: relative;
}

.mainMenu .inner {
    width: 1600px;
    margin: 0 auto;
}

.mainMenu .inner h2 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 60px;
    color: #005ad5;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
}

/* .mainMenu .slide_menu figure {
    position: relative;
    display: flex;
    justify-content: space-between;
} */

.mainMenu .slide_menu .slick-list {
    padding: 200px 0;
}

.mainMenu .slide_menu .case {
    position: relative;
}

.mainMenu .slide_menu .ss01 {
    transform: translate(-20px, -10px);
}

.mainMenu .slide_menu .ss02 {
    transform: translate(-60px, 190px);
}

.mainMenu .slide_menu .ss03 {
    transform: translate(-110px, -110px);
}

.mainMenu .slide_menu .ss04 {
    transform: translate(-20px, -70px);
}

.mainMenu .slide_menu .ss05 {
    transform: translate(-100px, 210px);
}

.mainMenu .slide_menu .ss06 {
    transform: translate(-150px, -30px);
}

.mainMenu .case img {

    animation: menu_ani 9s linear infinite;

    z-index: -999;
}

@keyframes menu_ani {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.m_txt {
    position: absolute;
    top: 50%;
    right: 0;
}

.mainMenu .slide_menu::after {
    content: '';
    top: 50%;
    left: 95%;
    transform: translate(-50%, 0);
    width: 150px;
    height: 150px;
    background: url(../img/next-btn.png);
}

.mainMenu .img_case img {
    position: absolute;
    top: -150px;
    right: -150px;
    width: 430px;
    height: 430px;
    animation: rotate_image 9s linear infinite;
    transform-origin: 50% 50%;
    z-index: -999;
}

.mainMenu .arrow {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 800px;
    font-size: 0;
    cursor: pointer;
}

.mainMenu .arrow .nextArrow {
    display: block;
    background: url(../img/next-btn.png) no-repeat center center /cover;
    width: 60px;
    height: 60px;
    z-index: 999;
}

.mainMenu .arrow .nextArrow.on {
    background: url(../img/prev-btn.png) no-repeat center center /cover;
}

.mainMenu .case .m_txt {
    transform: translate(90px, 0);
    font-family: 'NanumSquareNeo-Variable';
    line-height: 1.5;
    font-size: 18px;
    color: #555;
}

.mainMenu .ss01 .m_txt {
    transform: translate(150px, -100px);
}

.mainMenu .ss03 .m_txt {
    transform: translate(60px, -20px);
}


.mainMenu .case .m_txt h3 {
    font-size: 36px;
    color: #111;
    margin-bottom: 15px;
    font-weight: 700;
}

/* } mainMenu */

/* mainCommunity { */

.mainCommunity .inner {
    display: flex;
    height: 100vh;
}

.mainCommunity .cont_event {
    flex: 1;
    background: url(../img/main-event_bg-1.jpg) no-repeat center center / cover;
}

.mainCommunity .cont_store {
    flex: 1;
    background: url(../img/main-store_bg.jpg) no-repeat center center / cover;
}

.mainCommunity .cont_delivery {
    flex: 1;
    background: url(../img/main-delivery_bg.jpg) no-repeat center center / cover;
}

.mainCommunity .inner>div {
    position: relative;
    text-align: center;
    filter: brightness(1);
}

.mainCommunity .inner>div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.mainCommunity .inner>div:hover::before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
}

.mainCommunity .inner>div .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.mainCommunity .txt h2 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 700;
}

.mainCommunity .txt p {
    font-size: 17px;
    font-weight: 300;
}

/* } mainCommunity */

/* mainFranchise {*/


.mainFranchise .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 45px);
}

.mainFranchise .inner h2 {
    font-size: 60px;
    color: #005ad5;
    text-align: center;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 700;
}

.mainFranchise .inner p {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
    text-align: center;
    text-align: left;
    margin-bottom: 40px;
}

.mainFranchise .inner strong {
    font-weight: 500;
}

.mainFranchise .inner .w_txt {
    margin-right: 100px;
}

.mainFranchise .w_txt .more {
    display: flex;
    font-size: 17px;
    color: #fff;
}

.mainFranchise .w_txt .more a {
    position: relative;
    transition: 0.5s;
    width: 56px;
    height: 56px;
}

.mainFranchise .w_txt .more a::before {
    content: '';
    position: absolute;
    display: block;
    width: 56px;
    height: 56px;
    background: url(../img/btn-blue.png) no-repeat center center /cover;
    z-index: 999;
}

.mainFranchise .w_txt .more:hover a {
    transform: rotate(180deg);
}

.mainFranchise .w_txt .more i {
    display: block;
    width: 46px;
    height: 46px;
    font-size: 30px;
    background: #005ad5;
    border-radius: 50%;
    transform: translate(5px, 5px);
    text-align: center;
    line-height: 46px;
}

.mainFranchise .w_txt .more p {
    color: #005ad5;
    margin-left: 20px;
    transform: translate(0, 13px);
}

.mainFranchise .inner .img_box {
    position: relative;
    z-index: 999;
}

.mainFranchise .img_box::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -52px;
    right: -52px;
    width: 800px;
    height: 500px;
    background: #004bba;
    z-index: -1;
}

.mainFranchise .img_case img {
    position: absolute;
    top: 100px;
    left: 30%;
    width: 390px;
    height: 390px;
    animation: rotate_image 9s linear infinite;
    transform-origin: 50% 50%;
    z-index: -999;
}



/* } mainFranchise */

/* footer { */

.footer {
    width: 100%;
    background: #005ad5;
    padding: 30px 0 0 0;
    text-align: center;
    color: #fff;
    line-height: 2;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
}

.footer h2 {
    margin-bottom: 20px;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}

.footer ul li {
    width: 160px;
    margin-bottom: 18px;
}

.footer .link li {
    border: 1px solid #fff;
    padding: 7px 0 8px 0;
}

.footer .link {
    margin-bottom: 15px;
}

.footer .sns {
    margin-bottom: 15px;
}

.footer .copy {
    background: #ffb500;
    color: #fff;
    padding: 15px 0 15px;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1;
}

/* } footer */


@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}