* {
    outline: 1px solid tomato--;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 100px;
    z-index: 999999;

    color: #fff;
    margin: 0 auto;
}

.header .inner {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

.header .gnb>ul {
    display: flex;
    gap: 60px;
    font-size: 17px;
}

.header .gnb.on {
    color: #333;
}

.header .gnb>ul>li {
    position: relative;
    flex: 1;
    padding: 0 20px;
    transition: 0.3s;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 80px;
    left: -40px;
    background: #fff;
    width: 180%;
    z-index: 999;
    color: #4b4b4b;
    visibility: hidden;
    height: 0;
}



.header .gnb>ul>li::before {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: #ffb500;
    transition: 0.3s;
}

.header .gnb>ul>li:hover::before {
    width: 100%;
    background: #ffb500;
}

.header .gnb>ul>li:hover {
    color: #ffb500;
}

.header .gnb>ul>li ul li {
    padding: 15px 10px;
    line-height: 10px;
}

.header .gnb>ul>li:hover ul {
    visibility: visible;
    height: auto;
}

.header .gnb>ul>li ul li:hover {
    background: #ffb500;
    color: #fff;
}


/* navigation */

.navigationTooltips {
    color: #4b4b4b;
}


/* navigation */


/* .mainVisual { */

.mainVisual {
    position: relative;
    margin: 0 auto;
}

.mainVisual .case {
    display: flex;
    background: #005ad5;
}

.mainVisual .case>div {
    flex: 1;
    overflow: hidden;
}

.mainVisual .slide_img .v01 {
    height: 100vh;
    background: url(../img/main_img1.png) no-repeat center center / cover;
    font-size: 0;
}

.mainVisual .slide_img .v02 {
    height: 100vh;
    background: url(../img/main_img2.png) no-repeat center center / cover;
    font-size: 0;
}

.mainVisual .slide_img .v03 {
    height: 100vh;
    background: url(../img/main_img3.jpg) no-repeat center center / cover;
    font-size: 0;
}

.mainVisual .slide_txt {
    margin: auto;

}

.mainVisual .slide_txt>div {
    margin: auto 0 auto 200px;
}

.mainVisual .slide_txt>div span {
    font-size: 28px;
    color: #fff;
    font-family: 'Cormorant Garamond';
}

.mainVisual .slide_txt>div span {
    font-size: 28px;
    color: #fff;
    font-family: 'Cormorant Garamond';
    margin-bottom: 10px;
}

.mainVisual .slide_txt>div h2 {
    font-size: 80px;
    color: #ffb500;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 700;
    overflow: hidden;
    transition: 0.9s;
    padding: 2.5rem 0 0 0;
}

.mainVisual .slide_txt>div p {
    font-size: 17px;
    color: #ffb500;
    margin-bottom: 40px;
    overflow: hidden;
    transition: 0.9s;
    padding: 2.5rem 0 0 0;
}

.mainVisual .slide_txt>div.on h2 {
    padding: 0 0 0 0;
}

.mainVisual .slide_txt>div.on p {
    padding: 0 0 0 0;
}

.mainVisual .slide_txt>div strong {
    font-size: 17px;
    color: #fff;
}

.mainVisual .slide_txt>div strong i::before {
    content: '';
    font-size: 25px;
    color: #fff;

    background: rgb(108, 187, 233);
    border-radius: 50%;
    text-align: center;
    /* border: 1px dotted #fff; */
}

.mainVisual .img {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.mainVisual .img.vibration {
    animation: vibration ease-in-out 1s infinite alternate;
}

@keyframes vibration {
    from {
        transform: translate(-50%, -50%) rotate(3deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-3deg);
    }
}

.mainVisual .arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    font-size: 0;
}

.mainVisual .arrows .prevArrow {
    display: block;
    background: url(../img/slide-prev.png)no-repeat center center /cover;
    width: 166px;
    height: 78px;
    opacity: 0.6;
    cursor: pointer;
}

.mainVisual .arrows .nextArrow {
    display: block;
    background: url(../img/slide-next.png)no-repeat center center /cover;
    width: 166px;
    height: 78px;
    opacity: 0.6;
    cursor: pointer;
}

.mainVisual .Navi {
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(0, -50%);
}

.mainVisual .Navi>div {
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

.mainVisual .Navi>div img {
    display: block;
    width: 61px;
    height: 61px;
    padding: 13px;
    background: #004bba;
    border-radius: 100%;
    -webkit-box-shadow: 10px 0px 7px 0px rgb(0 0 0 / 8%);
    margin-bottom: 10px;
}

.mainVisual .Navi>div img:hover {
    background: #ffb500;
}

/* } .mainVisual */

/* mainMenu { */

.mainMenu {
    position: relative;
    height: 100vh;
}

.mainMenu .inner {
    width: 1600px;
    margin: 0 auto;
}

.mainMenu .inner h2 {
    padding: 70px 0 40px 0;
    font-size: 60px;
    color: #005ad5;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
}

/* .mainMenu .slide_menu figure {
    position: relative;
    display: flex;
    justify-content: space-between;
} */

.mainMenu .slide_menu .slick-list {
    padding: 100px 0;
}

.mainMenu .slide_menu .case {
    position: relative;
}

.mainMenu .slide_menu .ss01 {
    transform: translate(0, -100px);
}

.mainMenu .slide_menu .ss02 {
    transform: translate(0, 100px);
}

.mainMenu .slide_menu .ss03 {
    transform: translate(0, -50px);
}

.m_txt {
    position: absolute;
    top: 50%;
    right: 0;
}

.mainMenu .slide_menu::after {
    content: '';
    top: 50%;
    left: 95%;
    transform: translate(-50%, 0);
    width: 150px;
    height: 150px;
    background: url(../img/next-btn.png);
}

.mainMenu .img_case img {
    position: absolute;
    top: -150px;
    right: -150px;
    width: 430px;
    height: 430px;
    animation: rotate_image 9s linear infinite;
    transform-origin: 50% 50%;
    z-index: -999;
}

.mainMenu .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 800px;
    font-size: 0;
    cursor: pointer;
}

.mainMenu .arrow .nextArrow {
    display: block;
    background: url(../img/next-btn.png) no-repeat center center /cover;
    width: 60px;
    height: 60px;
    z-index: 999;
}

.mainMenu .arrow .nextArrow.on {
    background: url(../img/prev-btn.png) no-repeat center center /cover;
}

/* } mainMenu */

/* mainCommunity { */

.mainCommunity .inner {
    display: flex;
    height: 100vh;
}

.mainCommunity .cont_event {
    flex: 1;
    background: url(../img/main-event_bg-1.jpg) no-repeat center center / cover;
}

.mainCommunity .cont_store {
    flex: 1;
    background: url(../img/main-store_bg.jpg) no-repeat center center / cover;
}

.mainCommunity .cont_delivery {
    flex: 1;
    background: url(../img/main-delivery_bg.jpg) no-repeat center center / cover;
}

.mainCommunity .inner>div {
    position: relative;
    text-align: center;
    filter: brightness(1);
}

.mainCommunity .inner>div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.mainCommunity .inner>div:hover::before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
}

.mainCommunity .inner>div .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.mainCommunity .txt h2 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 700;
}

.mainCommunity .txt p {
    font-size: 17px;
    font-weight: 300;
}

/* } mainCommunity */

/* mainFranchise {*/


.mainFranchise .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 45px);
}

.mainFranchise .inner h2 {
    font-size: 60px;
    color: #005ad5;
    text-align: center;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 700;
}

.mainFranchise .inner p {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
    text-align: center;
    text-align: left;
    margin-bottom: 40px;
}

.mainFranchise .inner strong {
    font-weight: 500;
}

.mainFranchise .inner .w_txt {
    margin-right: 100px;
}

.mainFranchise .inner>img {
    position: relative;
    z-index: 999;
}

.mainFranchise .img_case img {
    position: absolute;
    top: 100px;
    left: 30%;
    width: 390px;
    height: 390px;
    animation: rotate_image 9s linear infinite;
    transform-origin: 50% 50%;
    z-index: -999;
}

.mainFranchise .inner img {
    position: relative;
}

.mainFranchise .inner img::before {
    content: '';
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 50%;
    height: 50%;
    background: #004bba;
}

/* } mainFranchise */

/* footer { */

.footer {
    width: 100%;
    background: #005ad5;
    padding: 30px 0 0 0;
    text-align: center;
    color: #fff;
    line-height: 2;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
}

.footer h2 {
    margin-bottom: 20px;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}

.footer ul li {
    width: 160px;
    margin-bottom: 18px;
}

.footer .link li {
    border: 1px solid #fff;
    padding: 7px 0 8px 0;
}

.footer .link {
    margin-bottom: 15px;
}

.footer .sns {
    margin-bottom: 15px;
}

.footer .copy {
    background: #ffb500;
    color: #fff;
    padding: 15px 0 15px;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1;
}

/* } footer */


@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}